
<header>
    <nav class="navbar navbar-expand-md p-3 nav-color" id="nav-bar">
        <div class="container-fluid">
            <a href="{% url 'index' %}" class="navbar-brand text-white text-uppercase offcanvas-title">Movie App</a>
            
            <button class="navbar-dark navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar-items" aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="navbar-dark w-100">
                <div class="collapse navbar-collapse offcanvas-md offcanvas-end nav-color" tabindex="0" id="navbar-items" aria-labelledby="navbar-items-label">
                    <div class="offcanvas-header nav-color w-100">
                        <h5 class="offcanvas-title text-uppercase text-white">Menu</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body w-100 nav-color" id="navbar-items-label">
                        <ul class="navbar-nav nav-pills me-auto fw-semibold text-uppercase font-monospace">
                            <li class="nav-item">
                                <a href="{% url 'index' %}" class="nav-link text-white">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'about' %}" class="nav-link text-white">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'movies' %}" class="nav-link text-white">Movies</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav text-uppercase font-monospace">
                            {% if user.is_authenticated %}
                                <li class="nav-item fst-italic">
                                    <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link text-white">{{ user.username }}</a>
                                    <form action="{% url 'logout' %}" method="POST" id="logout">
                                        {% csrf_token %}
                                        <input type="hidden">
                                    </form>
                                </li>
                            {% else %}
                                <li class="nav-item fw-semibold">
                                    <a href="{% url 'login' %}" class="nav-link text-white">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>