{% extends 'layout.html' %}
{% load static %}


{% block content %}

    <div class="container w-100 my-4">
        <img src="https://via.placeholder.com/1500x300" class="w-100" alt="">
    </div>

    <div class="row">
        <div class="col-md-12">

            {% if movies %}
                {% for movie in movies %}

                    <div class="col-md-3 card bg-secondary text-white mb-3 mx-3 float-start">
                        <div class="row card-body">
                            <a href="{% url 'detail' movie.id %}" class="m-auto text-decoration-none">
                                <h4 class='card-title text-center text-dark'>{{ movie.name }}</h4>
                                <img src="{% static movie.get_image_path %}" alt="" class="w-100 p-4">
                            </a>
                            <small class="card-text text-dark text-end">{{ movie.created_date | timesince }}</small>
                        </div>
                    </div>

                {% endfor %}
                
            {% else %}

                <div class="alert alert-warning">
                    <p>
                        No Movies
                    </p>
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}
