{% extends 'layout.html' %}
{% load static %}

{% block content %}
    
    <div class="row">
        <div class="col-md-4 col-8 mx-auto">
            <div class="card">
                <div class="card-header bg-dark fw-bold text-white">
                    <h4>Login</h4>
                </div>
                <div class="card-body bg-secondary">
                    <form action="{% url 'login' %}" class="action" method="post">
                        {% csrf_token %}
                        <div class="form-group m-2">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" required>
                        </div>
                        <div class="form-group m-2">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <div class="d-grid gap-2 mt-4">
                            <input type="submit" class="btn btn-outline-dark fw-bold">
                            <a href="{% url 'register' %}" class="btn btn-danger fw-bold">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}


